/** BEM SETTINGS **/
$block-name: jgt;
$element-name: word;
$glitch-modifier: glitch;
$top-glitch-modifier: top;
$bottom-glitch-modifier: bottom;

/** COLOR SETTINGS **/
$top-glitch-color: rgba(255, 0, 0, .8);
$bottom-glitch-color: rgba(0, 60, 255, 0.8);
